<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/game.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700" rel="stylesheet">
    <title>Mystery Words</title>
  </head>
  <body>
    <div id="game_wrapper">
      <div class="blanks">
        {{{blankWord}}}
      </div>
      <form action="/game" method="post">
        <input type="text" autocomplete="off" name="letterGuess" maxlength="1" autofocus>
      </form>
      <div class="msg">{{msg}}</div>
      <div id="letter_bank">
        <h3>Your guesses:</h3>
        {{{letter_bank}}}
      </div>
      <div id="guess_counter">
        {{{guessCounter}}}
      </div>
    </div>
  </body>
</html>
