<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Mystery Blanks</title>
  </head>
  <body>
    <h1>Mystery Words</h1>
    <div class="blanks">
      {{{blankWord}}}
    </div>

    <input type="text"  name="guess_input" placeholder="Please enter a letter">

  </body>
</html>
