<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/game.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700" rel="stylesheet">
    <title>Mystery Words</title>
  </head>
  <body style="background-color: #f98366;">
    <div class="end_of_game_wrapper">
      <div class="end_message" style="color: white;">You Lost  :(</div>
      <div class="blanks" style="color: white;">
        <div class="word_reveal">The word was: <br><strong>{{mysteryWord}}</strong></div>
      </div>
      <a href="/start" id="start-over">Play Again</a>
    </div>
  </body>
</html>
