
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 60px;
}

h3 {
  font-weight: normal;
  font-size: 20px;
}

.blanks {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 60px;
}

form {
  text-align: center;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

input {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 50px;
  text-align: center;
  align-self: center;
  margin-top: 20px;
  border:none;
  outline: none;
}

input:focus {
  outline: none;
}

#letter_bank {
  text-align: center;
  margin-top: 30px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 200px;
  background-color: #f98366;
  color: white;
  animation: background 40s cubic-bezier(.8,0,0,.2) infinite;
}


@keyframes background {
  0% { background-color: #f98366; }
  20% { background-color: #cdd628; }
  40% { background-color: #3dff9e; }
  60% { background-color: #4286f4; }
  80% {background-color: #c134ac; }
  100% { background-color: #f98366; }
}


.guessedLetter {
  display: inline-block;
  font-weight: normal;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

.guessed {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #f98366;
  margin-left: 5px;
  margin-right: 5px;
  animation: background 40s cubic-bezier(.8,0,0,.2) infinite;
}

#game_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  display: flex;
  align-items: center;
}

.blank {
  height: 80px;
  width: 80px;
  border-bottom: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 40px;
}

#guess_counter {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  justify-content: center;
}

#guess_counter:first-child {
  margin-left: 30px;
}

.tally {
  border: solid 1px black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.msg {
  color: #f98366;
  text-align: center;
  padding-top: 20px;
}


@keyframes fade-out {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}


@keyframes fade-in {
    from {opacity: 1;}
    to {opacity: 0;}
}

.word_reveal {
  text-align: center;
  font-size: 50px;
}
.end_message {
  animation-name: fade-out;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  font-size: 80px;
  font-weight:600;
  text-align: center;
  margin-bottom: 30px;
}

a {
  border: 1px solid white;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  color: rgba(255, 255, 255, .8);
  text-decoration: none;
  text-align: center;
  display: block;
  margin-top: 40px;
}

a:visited {
  color: rgba(255, 255, 255, .8);
  text-decoration: none;
}

a:hover {
  color: white;
}

.end_of_game_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.word_reveal {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.end_background {
  animation: background 40s cubic-bezier(.8,0,0,.2) infinite;
}
