
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  background-color: #f98366;
  font-family: 'Montserrat', sans-serif;
}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

#mode_selector {
  text-align: center;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  margin-top: 20px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: lowercase;
  font-size: 60px;
}

h2 {
  font-weight: normal;
  padding-bottom: 30px;
}

a {
  border: 1px solid white;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  color: rgba(255, 255, 255, .8);
  text-decoration: none;
}

a:visited {
  color: rgba(255, 255, 255, .8);
  text-decoration: none;
}

a:hover {
  color: white;
}

span {
  color:  rgba(255, 255, 255, 0.8);
}
/* Typewriter effect code written by:  Geoff Graham, https://css-tricks.com/snippets/css/typewriter-effect/ */

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
